<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
    <!-- 引入属性文件 -->
    <context:property-placeholder location="classpath:jdbc.properties" />

    <!-- 自动扫描(自动注入) -->
    <context:component-scan base-package="com.gray.*.service" />

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${email.smtp.host}"></property>
        <property name="username" value="${email.user.name}"></property>
        <property name="password" value="${email.user.password}"></property>
        <property name="defaultEncoding" value="gbk"></property>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">${email.smtp.auth}</prop>
                <prop key="mail.smtp.connectiontimeout">${email.smtp.connectiontimeout}</prop>
                <prop key="mail.smtp.timeout">${email.smtp.timeout}</prop>
                <prop key="java,mail.smtp.from">${email.smtp.host}</prop>
                 <prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
                 <prop key="mail.smtp.socketFactory.fallback">false</prop>
                 <prop key="mail.smtp.port">465</prop>
                 <prop key="mail.smtp.socketFactory.port">465</prop>
            </props>
        </property>
    </bean>
</beans>