<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	<!-- ========================== 开始:调度作业 Email Send =========================== -->
	<bean id="execEmailSend" class="com.gray.base.quartz.EmailSend"></bean>
	<!-- 1创建执行任务的类的实例 -->
	<bean id="emailDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="execEmailSend"></property>
		<property name="targetMethod" value="execute"></property>
	</bean>
	
	<!-- 发送email: 启动的规则 开机延时1分钟，每10分钟执行一次 -->
	<bean id ="emailTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean" >
		<!-- 注入要执行任务的类的实例 -->
		<property name="jobDetail">
			<ref bean="emailDetail"/>
		</property>
		<!-- 配置该触发器,在第一次启动之前等待时间,以毫秒为单位 -->
		<property name="startDelay">
			<value>60000</value>
		</property>
		<!--配置启动任务间隔时间,以毫秒为单位-->
		<property name="repeatInterval">
			<value>60000</value>
		</property>
	</bean>

    <!-- 3注册触发器,启动调度任务 -->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="emailTrigger" />
            </list>
        </property>
    </bean>
</beans>